* {
    margin: 0;
    padding: 0;
}

#container {
    margin-top: 0;
    transition: margin-top 0.7s ease;
}

.icon-full-screen:hover {
    color: #999 !important
}

.page:hover {
    background: #ddd !important;
    cursor: pointer;
}

table {
    font-size: 12px;
    border-collapse: collapse;
}

thead {
    background: rgb(250, 250, 250);
}

th, td {
    padding: 8px 30px;
    border: 1px solid rgb(238, 238, 238);
    white-space: nowrap;
}

tr.table_body:hover {
    background: #eee;
}

tfoot td {
    text-align: center;
    white-space: nowrap;
}


.red {
    color: red;
}

.green {
    color: green;
}
