* {
    margin: 0;
    padding: 0;
}

#container {
    margin-top: 0;
    transition: margin-top 0.7s ease;
}

.icon-full-screen:hover {
    color: #999 !important
}

.page:hover {
    background: #ddd !important;
    cursor: pointer;
}

table {
    font-size: 12px;
    border-collapse: collapse;
}

th, td {
    padding: 8px 30px;
    border: 1px solid #ccc;
}

tr.table_body:hover {
    background: #eee;
}

tfoot td {
    text-align: center;
}
